<div local-class="terminal-outer" class="mx-md-auto fade-in">
	<div local-class="terminal-container">
		<div local-class="terminal-section terminal-header">
			<div local-class="terminal-controls">
				<span local-class="elem elem-close"></span>
				<span local-class="elem elem-minimize"></span>
				<span local-class="elem elem-fullscreen"></span>
			</div>
		</div>
		<div local-class="terminal-section terminal-body">
			<div local-class="terminal-section terminal-body-inner">

				<span local-class="terminal-user">
					<font color="red" local-class="append">root@nullify.uno</font>
					<font color="#384ACD">:~/var/www/$</font>
				</span>
				{{typed-string strings=commandOne typeSpeed=typeSpeed loop=loop callback=(action "callbackOne") startDelay=delayOne showCursor=promptOneShowCursor}}<br>
				<p hidden={{responseOneHidden}}>We are Nullify, a hard-working student club that is passionate about cyber-security. We regularly participate in CTF&apos;s, and work as a club to improve our skills.</p>

				<span local-class="terminal-user" hidden={{promptTwoHidden}}>
					<font color="red" local-class="append">root@nullify.uno</font>
					<font color="#384ACD">:~/var/www/$</font>
				</span>
				{{typed-string strings=commandTwo typeSpeed=typeSpeed loop=loop callback=(action "callbackTwo") startDelay=delayTwo showCursor=promptTwoShowCursor}}<br>
				<p hidden={{responseTwoHidden}}>{{#link-to "index"}}index.html{{/link-to}}
					{{#link-to "about"}}about.html{{/link-to}}
					{{#link-to "sponsors"}}sponsors.html{{/link-to}} {{#link-to "calendar"}}calendar.html{{/link-to}}
					{{#link-to "contact"}}contact.html{{/link-to}}
					{{#link-to "resources"}}resources.html{{/link-to}} {{#link-to "hsctf"}}hsctf.html{{/link-to}} .flag
					-> <font color="grey">/assets/flag.txt</font> .announcements.txt</p>

				<span local-class="terminal-user" hidden={{promptThreeHidden}}>
					<font color="red" local-class="append">root@nullify.uno</font>
					<font color="#384ACD">:~/var/www/$</font>
				</span>
				{{typed-string strings=commandThree typeSpeed=typeSpeed loop=loop callback=(action "callbackThree") startDelay=delayThree showCursor=promptThreeShowCursor}}<br>
				<p hidden={{responseThreeHidden}}>{{{announcement.text}}}</p>

				<div local-class="skip-button">
					{{fa-icon "fast-forward" click=(action "skip")}}
				</div>

			</div>
		</div>
	</div>
</div>
{{yield}}